<% if can?(:navigate, :configuration) && Lackmus::CONFIGURATION_CONTROLLER.any? %>
  <li class="nav-item dropdown <%= configuration_active_class %>">
    <a class="nav-link dropdown-toggle" href="#" id="navbarConfigurationLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('lackmus.configuration') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarConfigurationLink">
      <% Lackmus::CONFIGURATION_CONTROLLER.each do |ctrlr| %>
        <%=link_to t('controller.' + ctrlr), main_app.send("#{ctrlr}_path"), class: 'dropdown-item'%>
      <% end %>
    </div>
  </li>
<% end %>
