<%= form_tag main_app.main_searches_path, role: "search",
  method: :post,  class: 'navbar-form navbar-left' do |f| %>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" id="search_q" name="search[q]">
  </div>
  <button type="submit" class="btn btn-default"><%= t('actions.search') %></button>
<% end %>
