<%= form_tag main_app.main_searches_path, role: "search",
  method: :post,  class: 'form-inline my-2 my-lg-0 mr-auto' do |f| %>

  <input class="form-control mr-sm-2" type="search" placeholder="Search" 
         aria-label="Search" id="search_q" name="search[q]">
  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
    <%= t('actions.search') %>
  </button>
<% end %>
