//
// custom color scheme: wobteal
// 
$cblue: #176775;
$mhblue: #336699;
$cgrey: #77999E;
$cgreen: #60A360;
$cred: #BF2B2B;
$cyellow: #F7D020;
$ccyan: #489BA8;

$colors: (
  "blue": $mhblue,
);

$theme-colors: (
  "custom": $mhblue,
);

