$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "wobapphelpers/breadcrumbs";

body {
  padding-top: 50px;
}

// --- FOOTER
div#footer{
  font-size: small;
  color: #999;
  margin: 24px 0 0 0;
  border-top: 1px solid #eee;
}

div.whois {
  max-width: 600px;
  max-height: 300px;
  overflow: auto;
}

div.signature_header {
  font-size: 200%;
}
div.signature_subtitle {
  font-size: 150%;
  line-height: 2em;
}
div.signature_info {
  padding-left: 2em;
}

table.autowidth {
  width: 50%
}

div.event_item {
  padding-bottom: 1em;
  line-height: 20px;
  div.event_headline {
    font-weight: bold;
  }
  div.event_info {
    padding-left: 20px; 
  }
}
.turbolinks-progress-bar {
  height: 5px;
  background-color: #008000;
  z-index: 2000;
}
