@import "font-awesome-sprockets";
@import "font-awesome";
@import "v4-shims.min";

$custom: #111;
$theme-colors: (
  "custom": $custom
);
// allow overwrite with custom color
// default: symlink to _colors-wobteal.scss
@import "custom-colors";

@import "bootstrap/scss/bootstrap";
@import "wobapphelpers/breadcrumbs";

body {
  padding-top: 60px;
}

// --- FOOTER
div#footer{
  font-size: 0.9em;
  color: #999;
  margin: 24px 0 0 0;
  padding: 4px 0 0 0;
  border-top: 1px solid #eee;
}

div.whois {
  max-width: 600px;
  max-height: 300px;
  overflow: auto;
}

div.signature_header {
  font-size: 200%;
}
div.signature_subtitle {
  font-size: 150%;
  line-height: 2em;
}
div.signature_info {
  padding-left: 2em;
}

table.autowidth {
  width: 50%
}

div.event_item {
  padding-bottom: 1em;
  line-height: 20px;
  div.event_headline {
    font-weight: bold;
  }
  div.event_info {
    padding-left: 20px; 
  }
}
html.turbolinks-progress-bar::before {
  height: 5px !important;
  background-color: #008000 !important;
  z-index: 2000;
}

tfoot {
  display: table-header-group;
  input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
  }
}

