<html>
  <head>
  <style type="text/css">
    div.event_item {
      padding-bottom: 1em;
      line-height: 20px;
      div.event_headline {
	font-weight: bold;
      }
      div.event_info {
	padding-left: 20px;
      }
    }
  </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
